## Feature Engineering

In [1]:
# Librerias
import pandas as pd
from sklearn import linear_model

In [2]:
# Datos
df = pd.DataFrame({
    'City': ['SF', 'SF', 'SF', 'NYC', 'NYC', 'NYC',
    'Seattle', 'Seattle', 'Seattle'],
    'Rent': [3999, 4000, 4001, 3499, 3500, 3501, 2499, 2500, 2501]
})

In [3]:
df

      City  Rent
0       SF  3999
1       SF  4000
2       SF  4001
3      NYC  3499
4      NYC  3500
5      NYC  3501
6  Seattle  2499
7  Seattle  2500
8  Seattle  2501

## One-hot encoding

In [5]:
# one-hot encoding
one_hot_df = pd.get_dummies(df,prefix=['city'])

In [6]:
one_hot_df

   Rent  city_NYC  city_SF  city_Seattle
0  3999         0        1             0
1  4000         0        1             0
2  4001         0        1             0
3  3499         1        0             0
4  3500         1        0             0
5  3501         1        0             0
6  2499         0        0             1
7  2500         0        0             1
8  2501         0        0             1

In [7]:
modelo1 = linear_model.LinearRegression()
modelo1.fit(one_hot_df[['city_NYC','city_SF','city_Seattle']],one_hot_df['Rent'])

LinearRegression()

In [8]:
print("--- Modelo 1 --- ")
print(modelo1.coef_)
print(modelo1.intercept_)

--- Modelo 1 ---
[ 166.66666667  666.66666667 -833.33333333]
3333.3333333333335

In [12]:
one_hot_df['Rent'].mean() + (-833.33333)

2500.0000033333336

## Dummy coding

In [13]:
# dummy coding
dummy_df = pd.get_dummies(df, prefix=['city'], drop_first=True)

In [14]:
dummy_df

   Rent  city_SF  city_Seattle
0  3999        1             0
1  4000        1             0
2  4001        1             0
3  3499        0             0
4  3500        0             0
5  3501        0             0
6  2499        0             1
7  2500        0             1
8  2501        0             1

In [15]:
modelo2 = linear_model.LinearRegression()
modelo2.fit(dummy_df[['city_SF','city_Seattle']],dummy_df['Rent'])

LinearRegression()

In [16]:
print("--- modelo 2 --- ")
print(modelo2.coef_)
print(modelo2.intercept_)

--- modelo 2 ---
[  500. -1000.]
3500.0

In [17]:
df.groupby('City').mean()

           Rent
City
NYC      3500.0
SF       4000.0
Seattle  2500.0

## Effect coding

In [18]:
# effect coding
effect_df = dummy_df.copy()
effect_df.iloc[3:6,1:3] = -1.0

In [19]:
effect_df

   Rent  city_SF  city_Seattle
0  3999        1             0
1  4000        1             0
2  4001        1             0
3  3499       -1            -1
4  3500       -1            -1
5  3501       -1            -1
6  2499        0             1
7  2500        0             1
8  2501        0             1

In [20]:
modelo3 = linear_model.LinearRegression()
modelo3.fit(effect_df[['city_SF','city_Seattle']],effect_df['Rent'])

LinearRegression()

In [21]:
print("--- modelo 3 ---")
print(modelo3.coef_)
print(modelo3.intercept_)

--- modelo 3 ---
[ 666.66666667 -833.33333333]
3333.3333333333335

In [22]:
[3333.3333333333335 + 666.66666, 3333.3333333333335 + (-833.33333)]

[3999.9999933333334, 2500.0000033333336]

In [23]:
-1 * (666.66666667 + (-833.33333333))

166.66666665999992

In [24]:
3333.33333 + 166.666666

3499.999996