## Apriori - Ejemplo

In [2]:
# Librerias
# Install ML extension
# See: https://anaconda.org/conda-forge/mlxtend
# conda install -c conda-forge mlxtend

import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori, association_rules

In [3]:
# Datos
dataset = [['A', 'C', 'D'],
           ['B', 'C', 'E'],
           ['A', 'B', 'C', 'E'],
           ['B', 'E'],
           ['A', 'C', 'E']]


te = TransactionEncoder()
te_ary = te.fit(dataset).transform(dataset)
df = pd.DataFrame(te_ary, columns=te.columns_)

In [4]:
df

       A      B      C      D      E
0   True  False   True   True  False
1  False   True   True  False   True
2   True   True   True  False   True
3  False   True  False  False   True
4   True  False   True  False   True

In [5]:
# Genera los itemsets 
items_frecuentes = apriori(df, min_support=0.4, use_colnames=True)

In [6]:
items_frecuentes

    support   itemsets
0       0.6        (A)
1       0.6        (B)
2       0.8        (C)
3       0.8        (E)
4       0.6     (C, A)
5       0.4     (A, E)
6       0.4     (B, C)
7       0.6     (B, E)
8       0.6     (C, E)
9       0.4  (C, A, E)
10      0.4  (B, C, E)

In [7]:
# Genera las reglas 
reglas = association_rules(items_frecuentes, metric ="confidence", min_threshold = 0.6) 
reglas = reglas.sort_values(['confidence'], ascending =[False])

In [8]:
reglas

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
1,(A),(C),0.6,0.8,0.6,1.000000,1.250000,0.12,inf,0.500000
4,(B),(E),0.6,0.8,0.6,1.000000,1.250000,0.12,inf,0.500000
10,"(A, E)",(C),0.4,0.8,0.4,1.000000,1.250000,0.08,inf,0.333333
12,"(B, C)",(E),0.4,0.8,0.4,1.000000,1.250000,0.08,inf,0.333333
0,(C),(A),0.8,0.6,0.6,0.750000,1.250000,0.12,1.6,1.000000
5,(E),(B),0.8,0.6,0.6,0.750000,1.250000,0.12,1.6,1.000000
6,(C),(E),0.8,0.8,0.6,0.750000,0.937500,-0.04,0.8,-0.250000
7,(E),(C),0.8,0.8,0.6,0.750000,0.937500,-0.04,0.8,-0.250000
2,(A),(E),0.6,0.8,0.4,0.666667,0.833333,-0.08,0.6,-0.333333
3,(B),(C),0.6,0.8,0.4,0.666667,0.833333,-0.08,0.6,-0.333333
8,"(A, C)",(E),0.6,0.8,0.4,0.666667,0.833333,-0.08,0.6,-0.333333
9,"(C, E)",(A),0.6,0.6,0.4,0.666667,1.111111,0.04,1.2,0.250000
11,(A),"(C, E)",0.6,0.6,0.4,0.666667,1.111111,0.04,1.2,0.250000
13,"(B, E)",(C),0.6,0.8,0.4,0.666667,0.833333,-0.08,0.6,-0.333333
14,"(C, E)",(B),0.6,0.6,0.4,0.666667,1.111111,0.04,1.2,0.250000
15,(B),"(C, E)",0.6,0.6,0.4,0.666667,1.111111,0.04,1.2,0.250000

In [9]:
1/6

0.16666666666666666